body {
    background-color: #f1f1f1;
    font-family: 'Fredoka One', cursive;
}

.neo-card {
    background: #fff;
    border: 3px solid black;
    box-shadow: 6px 6px 0px black;
    transition: all 0.15s ease-in-out;
}

.neo-card:hover {
    transform: scale(1.02);
    box-shadow: 8px 8px 0px black;
}

.btn-neo {
    background-color: #ff5ca8;
    border: 3px solid black;
    box-shadow: 6px 6px 0 black;
    color: white;
    font-weight: bold;
}

.btn-neo:hover {
    background-color: #e60073;
}

.text-link {
    color: black;
    text-decoration: underline;
}

.text-link:hover {
    color: #ff007f;
}