<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <title>Daftar Mahasiswa</title>
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4">Form Mahasiswa</h1>
    
        <form th:action="${isEdit ? '/mahasiswa/edit/' + mahasiswa.id : '/mahasiswa/add'}" th:object="${mahasiswa}" method="post">
            <input type="hidden" th:field="*{id}">
    
            <div class="mb-3">
                <label class="form-label">Nama:</label>
                <input type="text" th:field="*{nama}" class="form-control" required>
            </div>
    
            <div class="mb-3">
                <label class="form-label">Jurusan:</label>
                <select th:field="*{jurusan.id}" class="form-select" required>
                    <option value="" disabled selected>Pilih Jurusan</option>
                    <option th:each="jurusan : ${jurusanList}" th:value="${jurusan.id}" th:text="${jurusan.namaJurusan}">
                    </option>
                </select>
            </div>
    
            <button type="submit" class="btn btn-success">Simpan</button>
            <a href="/mahasiswa" class="btn btn-secondary ms-2">Kembali</a>
        </form>
    </div>
    
    
    
</body>
</html>